<footer>
  <div class="footer-content">
      <div class="footer-link">
          <ul>
              <li>
                  <a href="mailto:cristopher.saldanay@gmail.com">
                      <img class="icon-footer" src="./assets/correo-electronico.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/cristophersaldanayeber/">
                      <img class="icon-footer" src="./assets/linkedin.png" alt="">
                  </a>
              </li>
              <li>
                  <a href="https://github.com/cristopherSaldanaY">
                      <img class="icon-footer" src="./assets/github.png" alt="">
                  </a>
              </li>
          </ul>
      </div>
      <p><a href="#">Cristopher Saldaña</a> &nbsp;• © 2023 &nbsp;•&nbsp; <a href="#">Home</a> </p>
  </div>

</footer>
